<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Link King</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="shortcut icon" type="image/jpg" href="icon.png"/>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <div class='navbar no-items section' id='navbar'></div>
        <img alt='User Photo' id='userimg' src='icon.png'/>
        <span id='Title-Heading'>Simple White Design</span>
        <!-- <p>By Om</p> -->
        <div id='links'>
          <a class='link' href='https://twitter.com/the_OmPande' target='_blank'>Twitter</a>
          <a class='link' href='https://www.linkedin.com/in/ompande/' target='_blank'>LinkedIn</a>
          <a class='link' href='https://github.com/ompande' target='_blank'>Github</a>
          <a class='link' href='https://www.fiverr.com/websitemater/design-a-stunning-website-for-you-with-a-very-clean-ui' target='_blank'>Fiverr</a>
          <a class='link' href='https://github.com/ompande' target='_blank'>YouTube</a>

        </div>


  <!-- Java script files goes here -->
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
